@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Regular.ttf") format("truetype"),
    url("/fonts/Vazirmatn-Italic.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Medium.ttf") format("truetype"),
    url("/fonts/Vazirmatn-MediumItalic.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Bold.ttf") format("truetype"),
    url("/fonts/Vazirmatn-BoldItalic.ttf") format("truetype");
  font-weight: bold;
}
