/* body {
  background-image: url("/images/background.svg");
} */

@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Regular.ttf") format("truetype"),
    url("/fonts/Vazirmatn-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Medium.ttf") format("truetype"),
    url("/fonts/Vazirmatn-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Vazirmatn;
  src: url("/fonts/Vazirmatn-Bold.ttf") format("truetype"),
    url("/fonts/Vazirmatn-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-display: swap;
}

body {
  background-image: url("/images/background.png");
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-display: swap;
}

#__next {
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 15px;
  border-radius: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d9d9d959;
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
